{% extends 'pos/base.html' %}
{% load static compress %}

{% block title %}
    {% if is_edit %}Edit {{ model_name|capfirst }}{% else %}Add {{ model_name|capfirst }}{% endif %}
{% endblock %}

{% block header %}
    {% if is_edit %}Edit {{ model_name|capfirst }}{% else %}Add {{ model_name|capfirst }}{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% if is_edit %}Edit {{ model_name|capfirst }}{% else %}Add {{ model_name|capfirst }}{% endif %}</h1>
        {% debug %}
        <form method="post" action="{% if is_edit %}{% url 'pos:edit' model_name=model_name pk=object.pk %}{% else %}{% url 'pos:add' model_name=model_name %}{% endif %}">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">  {# Add margin-bottom for spacing #}
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="invalid-feedback">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">
                {% if is_edit %}Save Changes{% else %}Add{% endif %}
            </button>
        </form>

        <div id="formErrors" class="alert alert-danger" style="display: none;"></div>
        <a href="{% url 'pos:list' model_name=model_name %}" class="btn btn-secondary">Back to List</a>
    </div>
{% endblock %}

{% block footer %}
    {% compress js %}
    <script src="{% static 'js/formValidation.js' %}"></script>
    {% endcompress %}
{% endblock %}