{% extends 'core/base.html' %}
{% load static compress %}
{% block title %}Product List{% endblock %}
{% block header %}Product List{% endblock %}
{% block content %}
<h1>Product List</h1>

<!-- Search and Filter -->
<div class="mb-3">
    <input type="text" id="searchInput" class="form-control" placeholder="Search by product name or SKU">
</div>

<!-- Sort Products -->
<div class="mb-3">
    <select id="sortSelect" class="form-control">
        <option value="name">Sort by Name</option>
        <option value="price">Sort by Price</option>
        <option value="stock">Sort by Stock</option>
    </select>
</div>

<ul id="productList">
    {% for product in products %}
        <li class="product-item">
            <div class="product-details">
                <p><strong>Product Name:</strong> {{ product.name }}</p>
                <p><strong>Category:</strong> {{ product.category.name }}</p>
                <p><strong>SKU:</strong> {{ product.sku }}</p>
                <p><strong>Price:</strong> {{ product.price }}</p>
                <p><strong>Stock:</strong> <span class="stock">{{ product.stock }}</span> <button class="btn btn-sm btn-primary update-stock">Update Stock</button></p>
                <p><strong>Supplier ID:</strong> <a href="{% url 'core:detail' model_name='supplier' pk=product.supplier_id %}">{{ product.supplier_id }}</a></p>
                <p><strong>Low Stock Threshold:</strong> {{ product.low_stock_threshold }}</p>
                <p><strong>Last Updated:</strong> {{ product.last_updated }}</p>
                <p><strong>Barcode:</strong> {{ product.barcode }}</p>
                <p><strong>Expiration Date:</strong> {{ product.expiration_date }}</p>
                <p><strong>Restock Date:</strong> {{ product.restock_date }}</p>
            </div>
            <button class="toggle-button">Toggle Details</button>
            <a href="{% url 'core:edit' model_name='product' pk=product.id %}">Edit Product</a>
            <hr>
        </li>
    {% empty %}
        <li>No products found.</li>
    {% endfor %}
</ul>

<a href="{% url 'core:add' model_name='product' %}" class="btn btn-primary">Add Product</a>
<a href="{% url 'core:dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
{% endblock %}
{% block footer %}
{% compress js %}
<script src="{% static 'js/toggleDetails.js' %}"></script>
<script src="{% static 'js/filterSort.js' %}"></script>
{% endcompress %}
{% endblock %}