{% extends 'core/base.html' %}
{% load static compress %}
{% block title %}Delete Revenue Report{% endblock %}
{% block header %}Delete Revenue Report{% endblock %}
{% block content %}
<h1>Delete Revenue Report</h1>
<p>Are you sure you want to delete the revenue report "{{ employee.name }}"?</p>
<form method="post" class="delete-form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'core:revenue_report_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
{% block footer %}
{% compress js %}
<script src="{% static 'js/deleteConfirmation.js' %}"></script>
{% endcompress %}
{% endblock %}