{% extends 'core/base.html' %}
{% load static compress %}
{% block title %}Add Sale{% endblock %}
{% block header %}Add Sale{% endblock %}
{% block content %}
<h1>Add Sale</h1>
<form method="post" action="{% url 'core:sale_add' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Sale</button>
</form>
<a href="{% url 'core:sales_list' %}"class="btn btn-primary">View Sales</a>
<a href="{% url 'core:dashboard' %}"class="btn btn-primary">Back to Dashboard</a>
{% endblock %}
{% block footer %}
{% compress js %}
<script src="{% static 'js/formValidation.js' %}"></script>
{% endcompress %}
{% endblock %}