{% extends 'core/base.html' %}
{% load static compress %}
{% block title %}Add Stock{% endblock %}
{% block header %}Add Stock{% endblock %}
{% block content %}
<h1>Add Stock</h1>
<form method="post" action="{% url 'core:stock_add' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Stock</button>
</form>
<a href="{% url 'core:stock_list' %}"class="btn btn-primary">View Stock</a>
<a href="{% url 'core:dashboard' %}"class="btn btn-primary">Back to Dashboard</a>
{% endblock %}
{% block footer %}
{% compress js %}
<script src="{% static 'js/formValidation.js' %}"></script>
{% endcompress %}
{% endblock %}