{% extends 'users/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block header %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard dashboard-{{ user.role }} container mt-5">
    <h1>Welcome, {{ user.username }}!</h1>
     
    <div class="row">
        {% if user.role == 'admin' %}
            <div class="col-12">
                <p>Welcome to the Admin Dashboard. Here you can manage all aspects of the system.</p>
            </div>
            {% include 'users/_sidebar_admin.html' %}
            
        {% elif user.role == 'manager' %}
            <div class="col-12">
                <p>Welcome to the Manager Dashboard. Here you can manage your team and view reports.</p>
            </div>
            {% include 'users/_sidebar_manager.html' %}
            
        {% elif user.role == 'employee' %}
            <div class="col-12">
                <p>Welcome to the Employee Dashboard. Here you can view your tasks and performance.</p>
            </div>
            {% include 'users/_sidebar_employee.html' %}
            
        {% else %}
            <div class="col-12">
                <p>Welcome to the Dashboard. Please select an option below:</p>
                <ul>
                    <li><a href="{% url 'users:profile' %}">View Profile</a></li>
                    <li><a href="{% url 'users:edit_profile' %}">Edit Profile</a></li>
                </ul>
            </div>
        {% endif %}
    </div>

    <a href="{% url 'users:logout' %}" class="btn btn-outline-danger mt-3">Logout</a>
</div>
{% endblock %}
